/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

@keyframes loader {
  0% {
    background-color: #c4c3c0;
  }
  25% {
    background-color: #c4c3c0;
  }
  50% {
    background-color: #c4c3c0;
  }
  80% {
    background-color: rgba(196, 195, 192, 0.5);
  }
  100% {
    background-color: rgba(196, 195, 192, 0.5);
    visibility: hidden;
  }
}
@keyframes rebound {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(30px);
  }
  75% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delay1 {
  animation-delay: 0.1s;
}

.delay2 {
  animation-delay: 0.3s;
}

.delay3 {
  animation-delay: 0.6s;
}

.delay4 {
  animation-delay: 0.9s;
}

@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes rebound {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(30px);
  }
  75% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loader {
  0% {
    background-color: #c4c3c0;
  }
  25% {
    background-color: #c4c3c0;
  }
  50% {
    background-color: #c4c3c0;
  }
  80% {
    background-color: rgba(196, 195, 192, 0.5);
  }
  100% {
    background-color: rgba(196, 195, 192, 0.5);
    visibility: hidden;
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 80px;
  box-shadow: 2px 2px 5px rgba(116, 116, 116, 0.397);
  position: relative;
  z-index: 1000;
}

h1 {
  padding-top: 15px;
  font-family: "Shrikhand", cursive;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.footer__titre {
  color: #fff;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
.footer__element {
  margin: 10px 0;
}
.footer__link {
  color: #fff;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 20px;
  margin-right: 15px;
}

@keyframes loader {
  0% {
    background-color: #c4c3c0;
  }
  25% {
    background-color: #c4c3c0;
  }
  50% {
    background-color: #c4c3c0;
  }
  80% {
    background-color: rgba(196, 195, 192, 0.5);
  }
  100% {
    background-color: rgba(196, 195, 192, 0.5);
    visibility: hidden;
  }
}
@keyframes rebound {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(30px);
  }
  75% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delay1 {
  animation-delay: 0.1s;
}

.delay2 {
  animation-delay: 0.3s;
}

.delay3 {
  animation-delay: 0.6s;
}

.delay4 {
  animation-delay: 0.9s;
}

@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes rebound {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(30px);
  }
  75% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loader {
  0% {
    background-color: #c4c3c0;
  }
  25% {
    background-color: #c4c3c0;
  }
  50% {
    background-color: #c4c3c0;
  }
  80% {
    background-color: rgba(196, 195, 192, 0.5);
  }
  100% {
    background-color: rgba(196, 195, 192, 0.5);
    visibility: hidden;
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.heart {
  font-size: 20px;
  color: grey;
}
.heart:hover {
  animation: fill 1s ease-out;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.check_icons {
  color: white;
  font-size: 20px;
  opacity: 0;
  transform: rotate(0deg);
  transition: all 0.7s ease-in-out;
}

.btn {
  display: block;
  width: max-content;
  margin: auto;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #c4c3c0;
  padding: 15px 20px;
  font-weight: bold;
  transform: scale(1);
  transition: transform 500ms;
  opacity: 1;
}
.btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 2px 2px 20px black;
}

.pr_header {
  padding-left: 25px;
  display: flex;
  align-items: center;
}
.pr_header__logo {
  margin: auto;
  padding-bottom: 20px;
}
.pr_header__back {
  color: #444444;
}

.pr_img {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
}

.pr_main {
  margin-top: -30px;
  position: relative;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  padding: 35px 15px 80px 15px;
}
.pr_main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
  padding-right: 5%;
}
.pr_main__header__title {
  font-family: "Shrikhand", sans-serif;
}

.dishes {
  padding-bottom: 40px;
}
@media screen and (min-width: 1000px) {
  .dishes {
    width: 30%;
  }
}
.dishes__header {
  margin-bottom: 25px;
}
.dishes__header ::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  animation: progress 2s;
  animation-fill-mode: both;
  transform: scale(0);
}
.dishes__card {
  height: 70px;
  width: 100%;
  padding-left: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(116, 116, 116, 0.397);
  animation: appear 0.5s;
  animation-timing-function: cubic-bezier(0.57, -0.3, 0.36, 1.2);
  transform: scale(0);
  animation-fill-mode: both;
}
.dishes__card__txt {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dishes__card__txt--over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dishes__card__price {
  margin-left: 10px;
}
.dishes__card__check {
  height: 70px;
  width: 60px;
  opacity: 0;
  background-color: #99E2D0;
  margin-left: 25px;
  margin-right: -70px;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease-in-out;
}
.dishes__card:hover :nth-child(3) {
  opacity: 1;
  margin-right: 0px;
}
.dishes__card:hover .check_icons {
  opacity: 1;
  transform: rotate(-360deg);
}

h4 {
  font-weight: bold;
}

@media screen and (min-width: 1000px) {
  .container {
    display: flex;
    justify-content: space-around;
  }
}

.loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #5858588e;
  position: fixed;
  z-index: 1;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loader 1s;
  animation-fill-mode: both;
}
.loader__circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 50px;
  display: inline-block;
  animation: rebound 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.loader__circle--1 {
  background-color: #9356DC;
  animation-delay: 0.1s;
}
.loader__circle--2 {
  background-color: #FF79DA;
  animation-delay: 0.2s;
}
.loader__circle--3 {
  background-color: #99E2D0;
  animation-delay: 0.4s;
}

.header__heead {
  padding: 10px 0 20px;
  width: 100%;
  height: 80px;
  box-shadow: 2px 2px 5px rgba(116, 116, 116, 0.397);
  position: relative;
  z-index: 1000;
}

h1 {
  padding-top: 15px;
  font-family: "Shrikhand", cursive;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdfdf;
  font-weight: 700;
}
.location__logo {
  padding-right: 10px;
}

.reservation {
  display: block;
  background-color: rgba(233, 231, 231, 0.342);
  height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 30px 0 30px;
}

.navigation {
  margin: 30px;
}

.fonctionnement {
  width: 100%;
  counter-reset: compteListe;
}
.fonctionnement__button {
  width: 100%;
  padding: 24px;
  margin: 16px 0 16px 12px;
  box-shadow: 2px 2px 5px rgba(116, 116, 116, 0.397);
  border-radius: 20px;
  color: rgba(5, 5, 5, 0.692);
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
.fonctionnement__button:hover {
  cursor: pointer;
}
.fonctionnement__button::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -0.75rem;
}

.fa-mobile-screen-button:before, .fa-bars:before, .fa-store:before {
  padding-right: 10px;
}

@media screen and (min-width: 980px) {
  .fonctionnement {
    display: flex;
  }
  .fonctionnement__button {
    min-width: 270px;
    margin: 20px;
  }
}

.restaurant {
  background-color: #dfdfdf;
  padding: 30px;
}

.grp {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
@media (min-width: 980px) {
  .grp {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cartes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.restaurants {
  background-color: #c0c0c03f;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.carte {
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.carte__img {
  height: 192px;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.carte__new {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  right: 12px;
}
.carte__footer {
  padding: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carte__titre {
  margin: 0 0 4px;
  display: block;
  font-size: 18px;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
