.footer{
    background-color: #303030;
    display:flex ;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: 300px;
    
    &__list{
        @media (min-width:1000px) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    &__titre{
        color: $blanc;
        font-family: 'Shrikhand', cursive;
        font-size: 30px;
    }
    &__element{
        margin: 10px 0;
    }
    &__link{
        color: #fff;
    }
    &__link:hover{
        text-decoration: underline;
    }
    &__icon{
        width: 20px;
        margin-right: 15px;
    }
}
    

